*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
}
section{
    width: 75%;
    height: 50vh;
    background-color: #0b1dea;
    float: left;
    margin-left: 12.5%;
    margin-top: 37.5vh;
}
section h2{
    text-align: left;
    margin-top: 37.5vh;
    color: #fffefe;
    font-size: 1.5rem;
}